html, body {
  background-color: black;
  color: white;
  width: 100%;
  display:flex;

}

#root {
  margin:auto;
}

button {
  background-color: white !important;
  color:black !important;
}

#gameView p, #resultView p  {
  margin: 1em auto;

}
.cell {
  display: inline-block;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  background-color: white;
  overflow: hidden;
  color: black;
  font-size: 100px;
  text-align: center;
}
